.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}

.raffleHeader {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.raffleButtons {
  margin-left: 150px;
  width: 25%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.raffleParticipantsContainer {
  background-color: rgb(245, 241, 241);
  display: flex;
  justify-content: center;
  width: 70%;
  border: 2px solid black;
  border-radius: 20px;
  margin-bottom: 50px;
}
.raffleParticipants {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
}

.winnersContainer {
  display: flex;
  width: 80%;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
}

.winnerInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  color: #fff;
}
.raffleEndsContainer {
  width: 60%;
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  background-color: #1976d2;
  border: 2px solid black;
  border-radius: 20px;
}

.raffleEnds {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  opacity: 1;
  height: 500px;
  width: 100%;
}

.raffleEndsInformation {
  color: white;
  font-size: 40px;
  margin-bottom: 30px;
}

.raffleEndsInformation span {
  font-weight: 600;
  font-size: 50px;
  color: rgb(230, 57, 70);
}
.raffleEndsBottom {
  font-size: 30px;
}

.raffleInformation {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #2196f3;
  width: 100%;
  height: 600px;
  margin-bottom: 60px;
  box-shadow: 0px 6px 5px rgba(0, 0, 0, 0.35);
}

.raffleName {
  color: #ffffff;
  margin-top: 100px;
  font-size: 70px;
  font-weight: 500;
}
