.newRaffleContainer {
  margin-top: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.addNewRaffleTitle {
  font-size: 46px;
  font-weight: 500;
  margin-bottom: 60px;
}

.buttons {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  width: 59%;
}
